<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidStudyDemo">
        <activity
            android:name=".ui.activity.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".weight"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".gravity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".relativeLayout"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".frameentLayout"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".tv"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".MyButton"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".input"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ToastDemo"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ImageView1"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.SplashActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.RecycleView"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.LogininActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.FirstActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ui.activity.SecondActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".db.SqliteActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".tabLayoutDemo.TablLayoutActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".ThreadDemoActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".recyclerViewDemo.RecyclerActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".news_list"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".broadcastDemo.BroadcastOneActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".broadcastDemo.BroadcastTwoActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <!-- 原有前台服务 -->
        <service
            android:name=".serviceDemo.MyServiceDemo1"
            android:enabled="true"
            android:exported="false"
            android:foregroundServiceType="shortService" />

        <!-- AIDL 远程服务【新增关键配置：独立进程remote】 -->
        <service
            android:name=".aidlDemo.RemotePersonService"
            android:enabled="true"
            android:exported="true"
            android:process=":remote" />

        <activity
            android:name=".serviceDemo.ServiceDemoActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".serviceDemo.TestServiceActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".item_music"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".musicDemo.MusicListActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".threadDemo.ThreadActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".handlerDemo.HandlerActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".handlerDemo.SendMessageActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".simplehandler.SimpleHandlerActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />

        <!-- AIDL客户端页面 -->
        <activity
            android:name=".aidlDemo.MainActivity123"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".aidlDemo.BroadCastNew.Broad1Activity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".aidlDemo.BroadCastNew.Broad2Activity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".broadcastDemo.BrocastOneselfActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".broadcastDemo.BrocastOneself1Activity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />

        <receiver
            android:name=".broadcastDemo.MyReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="传递广播数据" />
                <!-- 添加系统屏幕广播 -->
                <action android:name="android.intent.action.SCREEN_ON" />
                <action android:name="android.intent.action.SCREEN_OFF" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.TIME_SET" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".broadcastDemo.BroadSimpleActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".broadcastOrder.BroadOrderActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".broadcastOrder.DisOrderActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".broadcastOrder.BroadLocalActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".WeekTextInputActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".projectPractice.IntroduceActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".projectPractice.MyLoginActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".projectPractice.MyRegisterActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".projectPractice.HomeActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".projectPractice.MyTabLayoutActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".projectPractice.RecyclerViewActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".projectPractice.HandlerTestActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>

</manifest>